@use "../variables" as *;
@use "../mixins" as *;

.conditions {
  margin: 7rem 10%;
  font-size: 1.5rem;
  @include for-desktop-up {
    margin: 7rem 6rem;
    width: 70%;
  }
  @include for-big-desktop-up {
    margin: 10rem 10%;
  }

  &_list {
    @include for-desktop-up {
      font-size: 1.2rem;
    }
  }
  &_link{
    color: $secondaryColor;
    &:visited{
      color: $secondaryColor;
    }
  }

}
