@use "../variables" as *;
@use "../mixins" as *;

.footer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  margin: 0;
  background-color: $secondaryColor;
  color: $primaryColor;
  padding: 2rem 0 0 0;
  @include for-tablet-portrait-up {
    width: 80%;
    padding: 2rem 10% 0 10%;
    justify-content: space-around;
  }

  &_contact {
    &_tel {
      color: $primaryColor;
      @include for-tablet-landscape-up {
        margin: -0.7rem 0;
      }
    }
    &_mail {
      color: $primaryColor;
      @include for-tablet-landscape-up {
        margin: -0.7rem 0;
      }
    }
    &_adress {
      color: $primaryColor;
      @include for-tablet-landscape-up {
        margin: -0.7rem 0;
      }
    }
    &_container {
      width: 50%;
      order: 4;
      margin: 0 auto 0 2rem;
      @include for-tablet-portrait-up {
        margin: unset;
        order: 0;
        width: 25%;
        word-wrap: break-word;
        text-align: center;
      }
      @include for-tablet-landscape-up {
        display: flex;
        flex-direction: column;
        justify-content: end;
        font-size: 1.2rem;
      }
    }
    &_title {
      font-size: 1.7rem;
      @include for-desktop-up {
        font-size: 1.5rem;
        margin: 1rem 0 0.5rem;
      }
    }
  }

  &_menu {
    &_link {
      text-decoration: none;
      color: $primaryColor;
      font-size: 1.5rem;
      @include for-tablet-landscape-up {
        font-size: 1.4rem;
      }
    }
    &_container {
      display: flex;
      flex-direction: column;
      margin: 0 0 0 2rem;
      @include for-desktop-up {
        width: 25%;
        text-align: center;
        margin: 0;
      }
    }
    &_title {
      font-size: 1.7rem;
      @include for-desktop-up {
        margin: unset;
        font-size: 1.5rem;
        margin: 1rem 0 0.5rem;
      }
    }
  }

  &_social {
    &_container {
      align-items: end;
      display: flex;
      flex-direction: column;
      justify-content: end;
      align-self: start;
      margin: 0 2rem;
      @include for-desktop-up {
        margin: unset;
        width: 25%;
        display: block;
        text-align: center;
      }
    }
    &_link {
      text-decoration: none;
    }
    &_logo {
      width: 5rem;
      height: auto;
      fill: $primaryColor;

      @include for-desktop-up {
        width: 60px;
      }
    }
    &_title {
      font-size: 1.7rem;
      @include for-desktop-up {
        font-size: 1.5rem;
        margin: 1rem 0 0.5rem;
      }
    }
  }

  &_mention{
    margin: 0.5rem 0 1rem 0;
      &_container{
    width: 100%;
    margin: 2rem 0 0 0;
    order: 10;
    font-size: 1rem;
    text-align: center;
    color: $primaryColor;
     a:visited {
      color: $primaryColor;
    }
  }

  }
}
