@use "../variables" as *;
@use "../mixins" as *;

.formuleElement {
  position: relative;
  width: 80vw;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  @include for-tablet-landscape-up {
   grid-column: 1 / 4;
    position: relative;
        width: 90%;
    margin: 1rem 15%;
  }
  @include for-desktop-up {
    width: 100%;
    grid-column: 1 / 3;
    margin:1rem 0;

  }
  &_image {
    border-radius: 40px;
    order: -1;
    width: 100%;
    height: auto;
    object-fit: cover;
    
    @include for-tablet-portrait-up{
      height: 450px;
    }
    @include for-tablet-landscape-up {
      margin: 0 0 0 75%;
      width: 250px;
      height: 250px;
      min-width: 250px;
      z-index: 100;
      transform: translateX(-50%);
      box-shadow: 5px 0 12px rgba(0, 0, 0, 0.4);
      border-radius: 80px;
      transition: all 1s;
    }
    &.moved {
      @include for-tablet-landscape-up {
        transform: translateX(calc(-60vw - $formuleElementBoxSize/2 - 2rem));
      }
      @include for-desktop-up {
          transform: translateX(calc(-30vw - $formuleElementBoxSize/2 - 2rem));
    
  }
    }
  }

  &_text {
    @include for-tablet-portrait-up{
      font-size: 1.5rem;
      margin: 0.5rem;
    }
    @include for-tablet-landscape-up {
      font-size: 1.2rem;
      margin: 0.3rem;
    }
    &_container {
      position: absolute;
      bottom: 0;
      width: 64vw;
      padding: 1rem 8vw;
      background: rgba(93, 94, 96, 0.72);
      border-radius: 0 0 40px 40px;
      opacity: 0;
      transition: all 1s;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      color: $primaryColor;
      @include for-tablet-landscape-up {
        display: flex;
        flex-direction: column;
        height: 250px;
        width: 60vw;
        min-width: fit-content;
        margin: 0;
        padding: unset;
        bottom: unset;
        right: calc(25% - $formuleElementBoxSize/2);
        padding-left: calc($formuleElementBoxSize + 2rem);
        justify-content: center;
        color: $primaryColor;
        background-color: $secondaryColor;
        border: unset;
        box-shadow: unset;
        border-radius: 80px 25px 25px 80px;
        opacity: 0;
        transition: all 1s;
      }
      @include for-desktop-up{
        width: 30vw;
      }
      &.moved {
        opacity: 1;
      }
      &_hider {
        @include for-tablet-landscape-up {
          position: absolute;
          height: 100%;
          width: 100%;
          background-color: $primaryColor;
          z-index: 10;
          transition: all 1s;
          right: calc(25% - $formuleElementBoxSize/2);
          border-radius: 40px;
        }
        &.moved {
          @include for-tablet-landscape-up {
            transform: translateX(
              calc(-60vw - $formuleElementBoxSize/2 - 2rem)
            );
          }
          @include for-desktop-up {
              transform: translateX(
                calc(-30vw - $formuleElementBoxSize/2 - 2rem)
              );
    
  }
        }
      }
    }
  }
}

.formuleElementRight {
  @extend .formuleElement;
  @include for-tablet-landscape-up {
    grid-column: 1 / 4;
    margin-left: 0;
  }
  @include for-desktop-up {
      grid-column: 2 / 4;
    margin: 1rem 0;
    
  }
  &_image {
    @extend .formuleElement_image;
    @include for-tablet-landscape-up {
      margin: 0 0 0 25%;
      order: 1;
      transform: translateX(-50%);
                box-shadow: -5px 0 12px rgba(0, 0, 0, 0.4);

    }
    &.moved {
      @include for-tablet-landscape-up {
        transform: translateX(calc(60vw - $formuleElementBoxSize/2));
      }
      @include for-desktop-up {
          transform: translateX(calc(30vw - $formuleElementBoxSize/2));
    
  }
    }
  }
  &_text {
    @extend .formuleElement_text;
    @include for-desktop-up{
      width: 80%;
    }
    &_container {
      @extend .formuleElement_text_container;
      @include for-tablet-landscape-up {
        order: 2;
        padding-left: 2rem;
        padding-right: calc($formuleElementBoxSize - 2rem);
        left: calc(25% - $formuleElementBoxSize/2);
        border-radius: 25px 80px 80px 25px;
      }

      &_hider {
        @extend .formuleElement_text_container_hider;
        @include for-tablet-landscape-up {
          right: unset;
          left: calc(25% - $formuleElementBoxSize/2);
        }
        &.moved {
          @include for-tablet-landscape-up {
            transform: translateX(calc(60vw + $formuleElementBoxSize/2));
          }  @include for-desktop-up {
            transform: translateX(calc(30vw + $formuleElementBoxSize/2));
    
  }
        }
        
      }
    }
  }
}
