@use "../variables" as *;
@use "../mixins" as *;

.formule {
  display: flex;
  flex-direction: column;
  margin: 10%;
  @include for-desktop-up {
    flex-direction: row;
    margin: 0;
  }
  &_image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
    &_container {
      @include for-desktop-up {
        max-width: 40vw;
        margin-left: 6rem;
      }
    }
  }
  &_title {
    font-size: 7rem;
    @include for-desktop-up {
      font-size: 3rem;
      margin: 0 1rem;
    }
    margin-top: 5rem;
    color: $secondaryColor;
  }

  &_text {
    margin: 0.5rem 0;
    &_container {
      align-self: flex-end;
    }
    &_wrapper {
      @include for-desktop-up {
        width: 70%;
      }

      padding: 1rem 3rem;
      background-color: $secondaryColor;
      color: $primaryColor;
    }
  }
}
