@use "../variables" as *;
@use "../mixins" as *;

.formule {
  display: flex;
  flex-direction: column;
  @include for-desktop-up {
    margin: 10%;
    flex-direction: row;
    margin: 0;
  }
  @include for-big-desktop-up {
    margin: 4rem 10% 0;
  }
  &_image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
    &_container {
      @include for-desktop-up {
        max-width: 40vw;
        margin-left: 6rem;
      }
          @include for-big-desktop-up{
      margin: 0;
    }
    }
  }
  &_title {
    font-size: 7rem;
    text-align: center;
    @include for-desktop-up {
      font-size: 3rem;
      margin: 0 1rem;
    }
    margin-top: 5rem;
    color: $secondaryColor;
  }

  &_text {
    margin: 0.5rem 0;
    &_container {
      align-self: flex-end;
    }
    &_wrapper {
      padding: 2rem 5rem;
      background-color: $secondaryColor;
      color: $primaryColor;
      @include for-desktop-up {
        padding: 1rem 3rem;
        // width: 80%;
      }
    }
    &_division {
      padding: 2rem;
      margin: 5rem 0;
      background-color: $primaryColor;
      color: $secondaryColor;
      border-radius: 20px;
      @include for-desktop-up {
        margin: 1rem 0;
        padding: 1rem;
        box-shadow: 2px 2px 5px black;
        border-radius: 10px;
      }
    }
  }
}
