@use "../variables" as *;
@use "../mixins" as *;

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: fit-content;
  z-index: 1000;
  pointer-events: none;
}

.link {
  color: $primaryColor;
  text-decoration: none;
  padding: 2rem;
  font-size: 4rem;
  border-radius: 50px;
  &.link_active {
    background-color: $primaryColor;
    color: $secondaryColor;

    &::after {
      opacity: 1;
    }
  }
  @include for-desktop-up {
    position: relative;
    padding: 0.8rem 1.3rem;
    border-radius: 35px;
    font-size: 1.2rem;
    pointer-events: all;
    z-index: 1;
    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background: white;
      border-radius: 35px;
      opacity: 0;
      transition: opacity 0.3s ease;
      z-index: -1;
    }

    @include for-big-desktop-up {
      font-size: 1.5rem;
    }

    &.link_active {
      color: black;

      &::after {
        opacity: 1;
      }
    }
  }

  &_container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30vh;
    width: 100%;
    justify-content: space-around;
    z-index: 3000;
    transition: opacity 0.5s ease;
    opacity: 0;
    margin-top: 4rem;
    @include for-desktop-up {
      flex-direction: row;
    }
    &_open {
      opacity: 1;
      transition: opacity 0.5s ease;
      z-index: 3000;
      pointer-events: all;
    }
    @include for-desktop-up {
      height: fit-content;
      width: fit-content;
      margin-left: 4rem;
      padding: 0.6rem 1.3rem;
      border-radius: 35px;
      transition: all ease 0.5s;
      background-color: unset;
      opacity: 1;
      &_scrolled {
        background-color: $secondaryColor;
        transition: all ease 0.5s;
      }
    }
    @include for-big-desktop-up {
      margin-left: 10%;
    }
  }
}

.menuBurger {
  width: 80px;
  height: 10px;
  padding: 3rem 1.5rem;
  border-radius: 20px;
  pointer-events: all;
  z-index: 4000;
  position: absolute;
  top: 5rem;
  right: 3rem;
  margin-top: -5px;
  @include for-desktop-up {
    display: none;
  }
    &::after {
    content: "";
    position: absolute;
    border-radius: 20px;
    inset: 0;
    background-color: $secondaryColor;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    z-index: 1;
  }
  &_scrolled::after {
    opacity: 0.7;
  }
  &_line {
    position: relative;
    width: 80px;
    height: 10px;
    display: block;
    background-color: $primaryColor;
    border-radius: 20px;
    transition: all 0.3s ease;
    z-index: 4000;
    &_open {
      transform: rotate(45deg);
      &::before {
        transform: translate(40px, 65px) rotate(-90deg);
      }
      &::after {
        // opacity: 0;
        transform: translate(0, -25px);
      }
    }
    &::after,
    &::before {
      position: absolute;
      content: "";
      width: inherit;
      height: inherit;
      background-color: inherit;
      border-radius: inherit;
      transition: all 0.3s ease;
      transform-origin: center left;
    }

    &::after {
      top: 25px;
    }

    &::before {
      top: -25px;
    }
  }
  &_circle {
    background-color: $secondaryColor;
    position: absolute;
    z-index: 2000;
    transform: translate(200vh, -200vh);
    transition: 0.3s ease;
    border-radius: 50%;
    width: 200vh;
    height: 200vh;
    &_open {
      opacity: 1;
      transform: translate(-20vh, -130vh);
      transition: 0.3s ease;
    }
    @include for-desktop-up {
      opacity: 0;
    }
  }
}
