@use "../variables";
@use "../mixins" as *;

.infocards {
  &_container {
    @include for-desktop-up {
      display: flex;
      margin: 4rem;
      justify-content: center;
      width: fit-content;
    }
  }
}
