@use "../variables" as *;
@use "../mixins" as *;
@use "sass:color";

.info {
  &_container {
    display: flex;
    flex-direction: column;
    @include for-desktop-up {
      margin: 8rem 0 0 0;
      display: grid;
      grid-template-rows: repeat(2, auto);
      grid-template-columns: repeat(12, 1fr);
    }
    @include for-big-desktop-up {
      display: flex;
      align-items: center;
      flex-direction: row;
      margin: 8rem 10% 0;
      width: unset;
    }
  }
  &_text {
    &_container {
      margin: 4rem 10%;
      @include for-desktop-up {
        grid-column: 2 / 12;
        grid-row: 1;
        opacity: 0;
        margin: 0;
      }
      @include for-big-desktop-up {
        width: 70%;
      }
    }
    &_title {
      font-size: 2.5rem;
      @include for-desktop-up {
        font-size: 2rem;
        padding: 0 1rem;
      }
      &::after {
        content: "";
        display: block;
        height: 3px;
        background-color: color.adjust($secondaryColor, $lightness: -10%);
        width: 12rem;
      }
    }
    &_text {
      font-size: 1.5rem;
      text-align: justify;
      text-wrap: balance ;
    }
  }
}

.isVisible {
  opacity: 1;
  transition: 2s;
}
