@use "../variables" as *;
@use "../mixins" as *;
@use "sass:color";

.info {
  &_container {
    display: flex;
    flex-direction: column;
    @include for-desktop-up {
      margin: 8rem 0 0 6rem;

    }
    @include for-big-desktop-up {
      align-items: center;
      flex-direction: row;
      margin: 8rem 10% 0;
      width: unset;
    }

  }
  &_text {
    &_container {
      margin: 10%;
      @include for-desktop-up {
        width: 70%;
        margin: 2rem 0;
        opacity: 0;
      }
    }
    &_title {
      font-size: 3.5rem;
      @include for-desktop-up {
        font-size: 2rem;
        padding: 0 1rem;
      }
      &::after {
        content: "";
        display: block;
        height: 3px;
        background-color: color.adjust($secondaryColor, $lightness: -10%);
        width: 12rem;
      }
    }
    &_text {
      font-size: 1.5rem;
    }
  }
}

.isVisible{
  opacity: 1;
  transition: 2s;
}