@use "../mixins" as *;
@use "../variables" as *;

.logo {
  position: relative;
  margin-top: 4rem;
  left: 50%;
  padding: 1rem;
  border-radius: 50%;
  background-color: $primaryColor;
  transform: translate(-50%) scale(1.5);
  transform-origin: top center;
  transition: all ease 1s;
  @include for-desktop-up {
    transform: translate(-50%, 0) scale(0.8);
    width: 20%;
    height: auto;
  }
  &_scrolled {
    padding: 0.2rem;
    transition: all ease 1s;
    transform: translate(-50%) scale(0.7);
    @include for-desktop-up {
    transform: translate(-50%, 0) scale(0.3);
    }
  }
}
