img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.myswiper-thumbnail {
  height: 25%;
  margin-top: 1rem;
}

.myswiper-thumbnail .swiper-wrapper {
  box-sizing: border-box;
  padding: 10px 0;
  height: 150px;
}

.myswiper-thumbnail .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.myswiper-thumbnail .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-button-prev,
.swiper-button-next {

  border-radius: 50%;
  width: 50px !important;
  height: 50px !important;
  padding: 5px;
        background: rgba(93, 94, 96, 0.4);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(5.5px);
        -webkit-backdrop-filter: blur(8.5px);
}

.swiper-button-prev::after,
.swiper-button-next::after {
  color: white;
}
.swiper-button-prev::after{
  transform: translateX(-5px);
}
.swiper-button-next::after{
  transform: translateX(5px);
}

@media (min-width: 900px) {
  .swiper {
    margin-top: 10rem;
    width: 70vw;
    height: 39vw;
    object-fit: cover;
  }
  .myswiper-thumbnail {
    height: 25%;
    margin-top: 0;
  }
}
@media (min-width: 600px) {
  .swiper {
    margin-top: 10rem;
    width: 80vw;
    height: 45vw;
    object-fit: cover;
  }
  .myswiper-thumbnail {
    height: 25%;
    margin-top: 0;
  }
}

@media (max-width: 599px) {
  .swiper {
    margin-top: 7rem;
    width: 100vw;
    height: 56vw;
    object-fit: cover;
  }
  .myswiper-thumbnail {
    height: 25%;
    margin-top: 0;
  }
}

@media (min-width: 1600px) {
  .swiper {
    margin-top: 10rem;
    width: 50vw;
    height: 35vw;
    object-fit: cover;
  }
  .myswiper-thumbnail {
    height: 25%;
    margin-top: 1rem;
  }
}
