@use "./mixins" as *;

@font-face {
  font-family: "Garamond";
  src: url("/fonts/EBGaramond-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
}

.main {
  font-family: "Garamond", sans-serif;
  font-size: larger;
  font-size: 3rem;
  margin: 0;
  width: 100vw;
  @include for-desktop-up {
    font-size: 1.5rem;
  }
}
