---
import { formuleProps } from "../props/formuleProps";
import FormuleElement from "./formuleElement.astro";
import style from "../style/components/formule.module.scss";
---

<section class={style.formule} id="formule">
  {
    formuleProps.map((formule, index) => (
      <FormuleElement formule={formule} key={index} />
    ))
  }

</section>
