---
import { infoCardProps } from "../props/infoCardProps";
import InfoCard from "./infoCard";
import style from "../style/components/infoCards.module.scss";
---

<div class={style.infocards_container}>
  {
    infoCardProps.map((card, index) => (
      <InfoCard client:load card={card} key={card.index} index={index}/>
    ))
  }
</div>
